## Deliverable 2. Create a Customer Travel Destinations Map.

In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ostrovnoy,RU,68.0531,39.5131,36.14,74,85,32.57,overcast clouds
1,1,Snasa,NO,64.2457,12.3778,32.25,79,92,7.83,overcast clouds
2,2,Port Hedland,AU,-20.3167,118.5667,80.60,94,100,6.91,overcast clouds
3,3,Albany,US,42.6001,-73.9662,73.99,39,0,4.63,clear sky
4,4,Te Anau,NZ,-45.4167,167.7167,53.65,95,95,3.22,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("Enter the minimum temperature: "))
max_temp=float(input("Enter the maximum temperature: "))

Enter the minimum temperature: 75
Enter the maximum temperature: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
updated_city_data_df=city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
updated_city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Port Hedland,AU,-20.3167,118.5667,80.60,94,100,6.91,overcast clouds
5,5,Keetmanshoop,NaN,-26.5833,18.1333,86.00,20,0,6.91,clear sky
6,6,Rikitea,PF,-23.1203,-134.9692,78.75,71,2,9.51,clear sky
13,13,Avarua,CK,-21.2078,-159.7750,77.00,100,40,2.30,scattered clouds
16,16,Muzaffargarh,PK,30.0754,71.1921,80.60,36,1,6.46,haze
17,17,Santa Cruz Del Sur,CU,20.7147,-77.9956,83.05,59,94,10.56,light rain
20,20,Cabo San Lucas,MX,22.8909,-109.9124,77.00,69,40,10.36,scattered clouds
23,23,Palora,EC,-1.7000,-77.9333,78.80,57,75,6.91,light rain
26,26,Kutum,SD,14.2000,24.6667,76.80,6,8,12.86,clear sky
27,27,Puerto Ayora,EC,-0.7393,-90.3518,81.00,85,28,10.00,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
updated_city_data_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=updated_city_data_df.copy()
clean_df=clean_df.dropna()
clean_df.count()

City_ID                227
City                   227
Country                227
Lat                    227
Lng                    227
Max Temp               227
Humidity               227
Cloudiness             227
Wind Speed             227
Current Description    227
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Port Hedland,AU,80.60,overcast clouds,-20.3167,118.5667,
6,Rikitea,PF,78.75,clear sky,-23.1203,-134.9692,
13,Avarua,CK,77.00,scattered clouds,-21.2078,-159.7750,
16,Muzaffargarh,PK,80.60,haze,30.0754,71.1921,
17,Santa Cruz Del Sur,CU,83.05,light rain,20.7147,-77.9956,
20,Cabo San Lucas,MX,77.00,scattered clouds,22.8909,-109.9124,
23,Palora,EC,78.80,light rain,-1.7000,-77.9333,
26,Kutum,SD,76.80,clear sky,14.2000,24.6667,
27,Puerto Ayora,EC,81.00,scattered clouds,-0.7393,-90.3518,
30,Bouafle,CI,89.60,clear sky,6.9904,-5.7442,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except:
        print("Hotel not found... Skipping.")

hotel_df.head(10)

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Port Hedland,AU,80.60,overcast clouds,-20.3167,118.5667,The Esplanade Hotel
6,Rikitea,PF,78.75,clear sky,-23.1203,-134.9692,Pension Maro'i
13,Avarua,CK,77.00,scattered clouds,-21.2078,-159.7750,Paradise Inn
16,Muzaffargarh,PK,80.60,haze,30.0754,71.1921,Aghosh Hotel
17,Santa Cruz Del Sur,CU,83.05,light rain,20.7147,-77.9956,
20,Cabo San Lucas,MX,77.00,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
23,Palora,EC,78.80,light rain,-1.7000,-77.9333,Rancho grande
26,Kutum,SD,76.80,clear sky,14.2000,24.6667,Dibbo areaمنطقة دبو
27,Puerto Ayora,EC,81.00,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Bouafle,CI,89.60,clear sky,6.9904,-5.7442,Hotel Zaouli

In [26]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name']=hotel_df['Hotel Name'].replace("",np.nan)
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Port Hedland,AU,80.60,overcast clouds,-20.3167,118.5667,The Esplanade Hotel
6,Rikitea,PF,78.75,clear sky,-23.1203,-134.9692,Pension Maro'i
13,Avarua,CK,77.00,scattered clouds,-21.2078,-159.7750,Paradise Inn
16,Muzaffargarh,PK,80.60,haze,30.0754,71.1921,Aghosh Hotel
20,Cabo San Lucas,MX,77.00,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
23,Palora,EC,78.80,light rain,-1.7000,-77.9333,Rancho grande
26,Kutum,SD,76.80,clear sky,14.2000,24.6667,Dibbo areaمنطقة دبو
27,Puerto Ayora,EC,81.00,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Bouafle,CI,89.60,clear sky,6.9904,-5.7442,Hotel Zaouli
37,Kirakira,SB,79.00,light rain,-10.4544,161.9205,SanBiz Lodge

In [28]:
# 8a. Create the output File (CSV)
output_data_file="../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
#fig.savefig("../Vacation_Search/WeatherPy_vacation_map.png")
fig

Figure(layout=FigureLayout(height='420px'))